.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2vw;
  align-items: center;
  background-color: white;
}

.footer{
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: white;
}

.footer img{
  width: 2vw;
}

.footer div {
  padding: 1vw 2vw;
}

.links{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2vw;
}

.headerLogo{
  width: 10vw;
}

h1{
  font-weight: bold;
  font-size: 8rem;
  margin: 0vw;
}

a{
  font-weight: bold;
  text-decoration: none;
  color: black;
}
a:hover{
  text-decoration: underline;
}

.links >h2{
  font-size: 2rem;
}

.imprint{
  padding: 2vw;
  display: flex;
  flex-direction: column;
  gap: 2vw;
}